html {
    display: block;
    
}

body {
    color: white;
    width: 100%;
    height: 100%;
    text-align: center;
}

#access {
    display: none;
    font-size: 48px;
    color: #F00;
}

#password_button {
    background-color: #0F0;
}

#password_block {
    display: block;
}


#info_block {
	color: #FFF;
	top: 38%;
	left: 38%;
	display: block;
	background-color: #000;
	font-size: 24px;
	width: 200px;
	height: 100px;
	z-index: 9999;
	position: absolute;
	outline: 3px solid #0F0;
	box-shadow:0px 0px 25px #CFC;
    overflow: hidden;
    word-wrap: break-word;
    padding: 50px;
}

#info_block div {
    float: right;
	vertical-align: middle;
    margin: auto;
    word-wrap: break-word;
    overflow: hidden;
}

#info_block input {
    margin: 5px;
}

.matrix {
    background-color: #000;
    color: #0f0;
    font-size: 18px;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.matrix span {
    display: inline-block;
    position: relative;
    width: 1.4rem;
    word-wrap: break-word;
}

.matrix .one {
    margin: 5px;
    animation: spin 16s infinite linear;
}

.matrix .two {
    animation: spin 9s infinite linear;
}

.matrix .three {
    animation: spin 13s infinite linear;
}

.matrix .four {
    animation: spin 18.25s infinite linear;
}

@-moz-keyframes spin {
    0% { bottom: 100%; }
    100% { bottom: 0; } 
}